.About-contact{
    position: absolute; 
    top: 150px;
    left: 310px;
    width:70%;
    height:76px;
    display:block;
    border-radius: 15px;
    /* border:1px solid  rgb(249, 249, 100); */
}
.contact{
    color:white;
    width:26%;
    height:60px;
    display: inline-block;
    font-size: 1.4rem;
    border-radius: 12px;
    padding:10px 28px; 
    margin-right:20px;
    border:1px solid  rgb(249, 249, 100);
}
.contact i{
    margin-right:8px;
}
.details{
    position: absolute; 
    top: 250px;
    left: 310px;
    width:76%;
    height:400px;
    font-size:1.4rem;
    color:white;
    /* border:2px solid green; */
}
.block1{
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 30px;
}
.block2{
    font-size: 1.8rem;
}
.contact-logo{
    margin-top:20px;
    margin-bottom: 30px;
    width:100%;
    font-size: 2rem;
    
}
.contact1{
    display:inline-block;
    height:50px;
    width:20%;
    border-radius:20px;
    padding:12px 16px;
    margin-right: 14px;
    border:1px solid  rgb(249, 249, 100);
}
.text{
    color:rgb(249, 249, 100);
    margin-top:0px;
    margin-left:38px;
}
.contact2{
    display:inline-block;
    height:70px;
    width:100px;
    border-radius:20px;
    margin-right: 30px;
    /* background-color:rgb(200, 245, 221); */
    border:2px solid rgb(249, 249, 100);
}
.contact2 img{
    height:70px;
    width:100px;
    /* margin:16px 20px; */
}
.contact1 i:hover{
    color: aqua;
}
.contact1 i,.contact2 i{
    margin-right:12px;
    font-size:2.8rem;
    color:rgb(249, 249, 100);
}
.contact1 a,.contact2 a{
    text-decoration: none;
    font-size:1.8rem;
    color:white;
}
.contact1 a:hover{
   color:aqua;
}
.contact2 a:hover{
    background-color:aqua;
}
.moveanimation{
    margin-top:200px;
    color:aqua;
    font-size: 2rem;
    animation-name: move;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}
@keyframes move {
    from{
        margin-left:0px;
    }
    to{
        margin-left:950px;
    }
}
